<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.theangel.ericsson">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".ericsson.activities.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDmHT0xby_VUR13Jfp9fQVROqZYP_UCgbI" />

        <activity
            android:name=".ericsson.activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ericsson.activities.MenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".ericsson.activities.YoutubeVideo1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ericsson.activities.Apercu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ericsson.activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ericsson.activities.InscriptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ericsson.activities.RechargerSoldeOoredooActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ericsson.activities.TransfertDeCreditOoredooActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ericsson.activities.RechargerSoldeOrangeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ericsson.activities.TransfertDeCreditOrangeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ericsson.activities.RechargerSoldeTuntelActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ericsson.activities.TransfertDeCreditTuntelActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ericsson.activities.DetailsActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ericsson.activities.DetailsMeteoActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".ericsson.services.SyncService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".ericsson.activities.WeatherActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>